<!--- This whole thing is a mess, I tried copying what I already had and added some stuff from a guide I am following but I'm 99% sure the structure is completely off --->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Evert Testing{% endblock %}</title>
    {% load static %} <!-- What static am I loading here? From src/components I assume.. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- {% block extra_css %}{% endblock %} Not sure what this is for exactly but I'm guessing styling related space? -->
    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    /> <!-- Not sure if this will work, just a random link for trying stuff. I'm guessing the {% block extra_css..} is for this stuff?-->
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"
    /> <!-- Not sure this will work either, seems like I'm missing a library or files? I'm guessing this is the reason I'm unable to render anything? -->
</head>
{% comment %}
<!-- Just commenting this out. Needs the curly brackets from above because Django doesn't ignore comments in templates.
    <body>
    <header>
        <nav>
            <a href="{% url home %}">Home</a>
            {% if user.is_authenticated %}

                <a href="{% url accounts:dashboard %}">Dashboard</a>
                <a href="{% url accounts:referrals %}">Referrals</a>
                <a href="{% url accounts:logout %}">Logout</a>
            {% else %}
                <a href="{% url accounts:register %}">Register</a>
                <a href="{% url accounts:login %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; Your Website 2023</p>
    </footer>
    {% block extra_js %}{% endblock %}
</body>
-->
{% endcomment %}

<body>
    <div id="main">
        <div id="app"></div> <!-- This is where the App.js from src/components should be rendered.. They aren't being rendered. -->
    </div>

    <script src="{% static "frontend/main.js" %}"></script> <!-- Probably wont work, it red which is rarely good or functional. -- Yeah doesn't work... -->
</body>

</html>
